#####################################################################
#   Fan Control
#####################################################################

#[fan]
##  Print Cooling Fan - FAN0
#pin: PA8
#kick_start_time: 0.5
#off_below: 0.10

#[heater_fan hotend_fan]
##  Hotend Fan - FAN1
#pin: PE5
#max_power: 1.0
#kick_start_time: 0.5
#heater: extruder
#heater_temp: 50.0

[heater_fan nevermore_fan]
##  Exhaust fan - FAN3
pin: PD13
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
heater: heater_bed
heater_temp: 100
fan_speed: 1.0

[fan_generic bett_fan]
pin: PE5
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.5

[fan_generic Motor_A]
pin: PD14
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.5

[fan_generic Motor_B]
pin: PD15
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.5

